// Variables

// Gray and Brand Colors for use across theme

$theme-primary:			#ffae4a;
$theme-danger:			#b25252;

// Create grayscale
$gray-dark:				#002b36  !default;
$gray:					  #3f5f67  !default;
$gray-light:			#bcc7ca  !default;
$gray-lighter:		#d9dfe1  !default;
$gray-lightest:		#fafbfb  !default;
